[Desktop Entry]
Name=SuperTux2
Comment=Game similar to the original game Super Mario Bros
Comment[pl]=Gra podobna do oryginalnej gry Super Mario Bros
Exec=supertux2
Terminal=false
Icon=supertux2
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
